:root {
  --primary: #272727;
  --secondary: #000000;
  --highlight: #7a00ec;

  --text-header: white;
  --text-main-headers: white;
  --text-links: #007bff;
  --text-footer: white;

  --bg-main: #0a0f0d;
  --bg-dots: rgb(36, 36, 36);
  --bg-lesson: rgb(40, 40, 40);

  --nav-buttons: var(--highlight);
  --nav-buttons-text: white;

  --corner-active: var(--highlight);
  --corner-inactive: #f4f4f4;
  --icons: rgb(234, 234, 234);
  --footer-icons: var(--highlight);

  --emphasized-bg: #dce8ff;
  --emphasized-border: #aab6d2;
}
